.wrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
}

.header {
    background-color: #24272c;
    grid-area: 1 / 1 / 2 / 8;
}

.navbar {
    background-color: #191b1f;
    grid-area: 2 / 1 / 13 / 2;
}

.profile {
    background-color: #0b0e0f;
    grid-area: 2 / 2 / 13 / 8;
}